# Frontend (Vite)
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2eWhmeHdnZ3drbHB1cHNhcm11Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1NDU1OTgsImV4cCI6MjA5MjEyMTU5OH0.5E8JcG2QSbrIkndzc7IVmnx0fOeGZVeF0mujvevQukE

VITE_SUPABASE_URL=https://pvyhfxwggwklpupsarmu.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_T3GSD7AIzvbUNQ4RMEuicA_lsGKNftx

# Scripts / Admin tasks
SUPABASE_URL=https://pvyhfxwggwklpupsarmu.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2eWhmeHdnZ3drbHB1cHNhcm11Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjU0NTU5OCwiZXhwIjoyMDkyMTIxNTk4fQ.wxrDJwaUEOSdJK-4Z1shEnvePczybbWLNmEP18dWwKk